<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>tw.org.iii.home.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home01</servlet-name>
    <servlet-class>tw.org.iii.home.Home01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home01</servlet-name>
    <url-pattern>/Home01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home02</servlet-name>
    <servlet-class>tw.org.iii.home.Home02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home02</servlet-name>
    <url-pattern>/Home02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home03</servlet-name>
    <servlet-class>tw.org.iii.home.Home03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home03</servlet-name>
    <url-pattern>/Home03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home04</servlet-name>
    <servlet-class>tw.org.iii.home.Home04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home04</servlet-name>
    <url-pattern>/Home04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda01</servlet-name>
    <servlet-class>tw.org.iii.home.Panda01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda01</servlet-name>
    <url-pattern>/Panda01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda02</servlet-name>
    <servlet-class>tw.org.iii.home.Panda02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda02</servlet-name>
    <url-pattern>/Panda02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda03</servlet-name>
    <servlet-class>tw.org.iii.home.Panda03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda03</servlet-name>
    <url-pattern>/Panda03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda05</servlet-name>
    <servlet-class>tw.org.iii.home.Panda05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda05</servlet-name>
    <url-pattern>/Panda05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda06</servlet-name>
    <servlet-class>tw.org.iii.home.Panda06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda06</servlet-name>
    <url-pattern>/Panda06</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>cc.openhome.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cc.openhome.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>cc.openhome.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EncodingServlet</servlet-name>
    <servlet-class>cc.openhome.EncodingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingServlet</servlet-name>
    <url-pattern>/EncodingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sample23_05</servlet-name>
    <servlet-class>tw.org.iii.home.Sample23_05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample23_05</servlet-name>
    <url-pattern>/Sample23_05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BodyServlet</servlet-name>
    <servlet-class>cc.openhome.BodyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BodyServlet</servlet-name>
    <url-pattern>/BodyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cc.openhome.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>cc.openhome.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>    
  <context-param>
    <description>檔案上傳目錄</description>
    <param-name>upload-path</param-name>
    <param-value>C:\Users\panda\eclipse\jee-neon\Git\HomeJavaWeb\HomeJavaWeb\WebContent\upload</param-value>
  </context-param>
</web-app>